.auth_bg{
    background: url(../../../assets/images/auth-bg.jpg) center no-repeat ;
    background-size: 100%;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    .container{
        height: 100vh !important;
    }
}





.login{
    background-color: #118be9d4;
    padding: 70px 40px;
    box-sizing: border-box;
    text-align: center;
    input{
        color: #ffffff;
    }

    h2{
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 50px;
        font-weight: 400;
    }
    button{
        margin-top: 70px;
    }
}
.login_image{margin-bottom: 50px;}
