<!-- <p>side-pannel works!</p> -->
<div class="sidePannel">
  <div class="d-flex justify-content-start align-items-center w-100">
    <div class="logo">
      <img src="./assets/images/logo.png" class="img-fluid"/>
    </div>
    <div class="user_info">
      <pre>{{fleetUserData | json}}</pre>
      <span>Howdy</span>
      <p>{{contactPersonName}}</p>
      <p class="userId">Fleet ID: <span>{{fleetId}}</span></p>
    </div>
  </div>
  <ul *ngFor="let sidePannel of sidePannel">
    <li><a [routerLink]="sidePannel.path"  routerLinkActive="active-link" >{{sidePannel.name}} <i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
  </ul>
</div>


