.otp-verify{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    h3{
        font-size: 30px;
        color: #118ee9;
        margin-bottom: 40px;
        font-weight: 500;
    }
    ng-otp-input{
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 20px;
        span{
            background-color: #118ee9;
            font-weight: 600;
            color: #fff;
            border-radius: 5px;
            padding: 5px 5px;
        }
    }
    .error{
        color: red;
        font-size: 13px;
    }
    button{
        margin-top: 30px;
    }
}
